main { 
}
.backimage
{ 
}
.overlay { 
  /* min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0; */ 
}
.herocontent {
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://wwwassets.rand.org/content/rand/blog/2014/08/flexibility-is-key-in-administrations-call-for-teacher/jcr:content/par/teaser.aspectfit.0x1200.jpg/1495315509027.jpg);
  background-position: center;

}
.overlay a {
  color: #fff;
}
.hero-text h1, .overlay p
{
color: #fff;
}
.overlay .MuiButton-outlinedPrimary {
  color: #fff;
  border: 1px solid #fff;
}
.hero_over {
  width: 100%;
  background: #0000002e;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardGrid {
  paddingTop: 8px;
  paddingBottom : 8px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px; 
  margin-top: 50px;
  margin-bottom: 50px;
  
  }
  
  .card {
    float: left;
    margin-right: 10px;
}
.cardGrid{
  padding: 40px 0;
}
.cardGrid .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 13px;
  border-radius: 0;
  padding: 6px 15px;
  margin-top: 10px;
}
.cardGrid .card-body {
padding: 10px;
}
.navbar-dark .navbar-nav .nav-link
{
  color: rgba(255,255,255,1.5); 

}